<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://scontent-ber1-1.xx.fbcdn.net/v/t39.30808-6/301597312_509281994535339_8072570465804112317_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGq2hleurs0tH4NCqIfKRglFdRdknvBfCoV1F2Se8F8KguF6glsMtKT4JRVzAw5MSM&_nc_ohc=q3rH58S8VmkAX-GQSB9&_nc_ht=scontent-ber1-1.xx&oh=00_AfD6TUM-2J93U1EKXp7MkJGCM5Tl7nMXtTDX9RrMW2Yv-w&oe=6568E1A3" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://scontent-ber1-1.xx.fbcdn.net/v/t39.30808-6/301597312_509281994535339_8072570465804112317_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGq2hleurs0tH4NCqIfKRglFdRdknvBfCoV1F2Se8F8KguF6glsMtKT4JRVzAw5MSM&_nc_ohc=q3rH58S8VmkAX-GQSB9&_nc_ht=scontent-ber1-1.xx&oh=00_AfD6TUM-2J93U1EKXp7MkJGCM5Tl7nMXtTDX9RrMW2Yv-w&oe=6568E1A3", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
