<%= image_tag "banner.png" , id: "home-banner"%>

<div class="container d-flex justify-content-center align-items-center home-links-container">
  <div class="row">
    <div class="col-12 col-lg-12 home-links-div">
      <%= link_to "Paketat", packages_path, class: "home-links" %>
      <%= link_to "Shërbime", services_path, class: "home-links" %>
      <%= link_to "Analiza", tests_path, class: "home-links" %>
      <%= link_to "Dermo-Estetike", dermoesthetics_path, class: "home-links" %>
    </div>
  </div>
</div>


<div class="info-container mb-3 pb-5">
  <div class="info-contact">
    <h5>Kontaktoni:</h5>
    <div class="d-flex">
      <div class="d-flex w-50">
        <i class="fa-solid fa-phone"></i> <p>+355 69 70 48 000</p>
      </div>
      <div class="d-flex w-50">
        <i class="fa-solid fa-envelope"></i> <p>info@piperocare.com</p>
      </div>
    </div>
  </div>
  <div class="info-address w-100">
    <h5>Addresa:</h5>
    <div class="d-flex justify-content-between">
      <%= link_to "https://www.google.com/maps/place/Medical+Center+Dr.Pipero/@41.2828935,19.8604931,17z/data=!3m1!4b1!4m6!3m5!1s0x135037400021b355:0x165494d89bef80f2!8m2!3d41.2828935!4d19.863068!16s%2Fg%2F11f0kxkb3k?entry=ttu", class: "navbar-brand w-50" do %>
        <div class="d-flex">
          <i class="fa-solid fa-location-dot"></i>
          <h6>Lunder</h6>
        </div>
        <p>Kompleksi Colombo 2, <br>Rruga Vilave,TEG</p>
      <% end %>

      <%= link_to "https://www.google.com/maps/place/PiperoCare+Astir/@41.328349,19.7828053,17z/data=!3m1!4b1!4m6!3m5!1s0x1350317ea4a58201:0xce3994d3e5ec48ff!8m2!3d41.328349!4d19.7853802!16s%2Fg%2F11rznryd49?entry=ttu", class: "navbar-brand w-50" do %>
        <div class="d-flex w-50">
          <i class="fa-solid fa-location-dot"></i>
          <h6>Tiranë</h6>
        </div>
        <p>Rruga Teodor Keko, <br>Pallati Ales, Kati I, Tiranë</p>
      <% end %>
    </div>
  </div>
</div>
