<!DOCTYPE html>
<html>
  <head>
    <!-- Google result tags-->
    <title>PiperoCare | Albania's Best Healthcare Clinic</title>
    <meta name="description" content="Medical Center Dr. Pipero, ofron sherbime mjekësore bashkëkohore. Konsulta në sëmundje të ndryshme, analiza mjekësore dhe shërbime të dermokozmetikës">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- end Google result tags-->

    <!-- Favicon links-->
    <%= favicon_link_tag "pipero_logo.png", rel: "icon", type: "image/png", style: "width: 32px; height: 32px;" %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <!-- end Favicon links-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
